<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>cde7ad59-40c4-4d5b-aee0-e427c8ba0027</ProjectGuid>
    <!-- Publish directly to IIS site folder -->
    <publishUrl>C:\inetpub\wwwroot\ManagementProject</publishUrl>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <!-- Cấu hình IIS tự động sau khi publish -->
    <IISSiteName>ManagementProject</IISSiteName>
    <IISAppPoolName>ManagementProject</IISAppPoolName>
  </PropertyGroup>
</Project>